<div class="row">
  <div class="col-lg-12 text-center">
    <h1><%= current_user.screen_name.capitalize %>'s Policurious dashboard</h1>
  </div>
</div>
<div class="row text-center" id="legislators-row">
  <div class="col-sm-4 col-sm-offset-1" id="state-legislators">
    <h3>State Level</h3>
    <div class="row well well-sm" id="State Representatives">
      <h4>State Representatives</h4>
      <% current_user.state_representatives.each do |representative| %>
      <div>
        <h4><%= representative.full_name  %></h4>
        <div class="">
          <h5>Bills Sponsored:</h5>
          <ul id="<%= representative.last_name.parameterize %>-bills">
            <% representative.bills.each do |bill| %>
              <li>Session <%= bill.session %>: <%= bill.title %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row well well-sm" id="State Senators">
      <h4>State Senators</h4>
      <% current_user.state_senators.each do |senator| %>
        <div>
          <h4><%= senator.full_name %></h4>
          <div class="">
            <h5>Bills Sponsored:</h5>
            <ul id="<%= senator.last_name.parameterize %>-bills">
              <% senator.bills.each do |bill| %>
                <li>Session <%= bill.session %>: <%= bill.title %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-2" id="national-congresspeople">
    <h3>National Level</h3>
    <div class="row well well-sm" id="national-representatives">
      <h4>National Representatives</h4>
      <% current_user.national_representatives.each do |representative| %>
        <div>
          <h4><%= representative.combined_name %></h4>
          <ul id="<%= representative.combined_name.parameterize %>-bills">
            <% representative.bills.each do |bill| %>
              <li>Congress <%= bill.congress %>: <%= bill.short_title || bill.official_title %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="row well well-sm" id="national-senators">
      <h4>National Senators</h4>
      <% current_user.national_senators.each do |senator| %>
        <div>
          <h4><%= senator.combined_name %></h4>
          <div class="">
            <h5>Bills Sponsored:</h5>
            <ul id="<%= senator.combined_name.parameterize %>-bills">
              <% senator.bills.each do |bill| %>
                <li>Congress <%= bill.congress %>: <%= bill.short_title || bill.official_title %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
