<div class="row">
  <div class="col-lg-12 text-center">
    <h1><%= current_user.screen_name.capitalize %>'s Policurious dashboard</h1>
  </div>
</div>
<div class="row text-center" id="legislators-row">
  <div class="col-sm-4 col-sm-offset-1" id="state-legislators">
    <h3>State Level</h3>
    <div class="row well well-sm" id="State Representatives">
      <h4>State Representatives</h4>
      <% current_user.state_representatives.each do |representative| %>
      <p>
        <%= representative.full_name  %>
      </p>
      <% end %>
    </div>
    <div class="row well well-sm" id="State Senators">
      <h4>State Senators</h4>
      <% current_user.state_senators.each do |senator| %>
        <p>
          <%= senator.full_name  %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-2" id="national-congresspeople">
    <h3>National Level</h3>
    <div class="row well well-sm" id="national-representatives">
      <h4>National Representatives</h4>
      <% current_user.national_representatives.each do |representative| %>
        <p>
          <%= representative.combined_name %>
        </p>
      <% end %>
    </div>
    <div class="row well well-sm" id="national-senators">
      <h4>National Senators</h4>
      <% current_user.national_senators.each do |senator| %>
        <p>
          <%= senator.combined_name %>
        </p>
      <% end %>
    </div>
  </div>
</div>
